@model List<GetAllFooterDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    var count = 0;
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Footer Bilgileri</h4>
                        <p class="card-subtitle mb-4">
                            Footer alanında yayınlanacak bilgilerinizi görüntüleyebilir ve yönetebilirsiniz. 
                        </p>

                        <a href="/Admin/Footer/Create" class="btn btn-primary">Yeni Footer Bilgisi</a>
                        <br />
                        <br />
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Mail</th>
                                        <th>Telefon</th>
                                        <th>Açıklama</th>
                                        <th>Adres</th>
                                        <th>Güncelle</th>
                                        <th>Sil</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.Mail</td>
                                            <td>@item.Phone</td>
                                            <td>@item.Description</td>
                                            <td>@item.Address</td>
                                            <td><a href="/Admin/Footer/Update/@item.Id" class="btn btn-outline-warning">Güncelle</a></td>
                                            <td><a href="/Admin/Footer/Remove/@item.Id" class="btn btn-outline-danger">Sil</a></td>
                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

            </div>

        </div>


    </div>
</div>
