@model List<GetAllBlogCommentWithIncludesDto>

@if (@Model.Count > 0){
    <h4 class="mb-5">
        @Model.Count
        Yorum</h4>
}
else
{
    <h4 class="mb-5">
        Bu blog yazısına daha önce yorum yapılmamıştır. İlk yorumu eklemek ister misiniz?
    </h4>
}

<ul class="comment-list">
    @foreach (var item in Model)
    {
    <li class="comment">
        @*<div class="vcard bio">
            <img src="@item.Name" alt="Image placeholder">
        </div>*@
        <div class="comment-body">
            <h3>@item.Name</h3>
            <div class="meta">@item.CreatedDate.ToString("dd/MM/yyyy")</div>
            <p>@item.Content</p>
        </div>
    </li>
        
    }

</ul>