@model List<GetAllBlogCommentWithIncludesDto>

<h3 class="mb-5">@Model.Count Yorum</h3>
<ul class="comment-list">
    @foreach (var item in Model)
    {
    <li class="comment">
        @*<div class="vcard bio">
            <img src="@item.Name" alt="Image placeholder">
        </div>*@
        <div class="comment-body">
            <h3>@item.Name</h3>
            <div class="meta">@item.CreatedDate.ToString("dd/MM/yyyy")</div>
            <p>@item.Content</p>
        </div>
    </li>
        
    }

</ul>